@model TodoList
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create Todo List</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="ListContent"></label>
                    <input asp-for="ListContent" class="form-control" />
                    <span asp-validation-for="ListContent" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Time"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Priority"></label>
                    <select asp-for="Priority" class="form-control">
                        <option>--Select Priority--</option>
                        <option>Critical/severe</option>
                        <option>Major/high</option>
                        <option>Medium</option>
                        <option>Minor/low</option>
                    </select>

                </div>


                <button type="submit" class="btn btn-success">Create</button>
                <a asp-controller="TodoList" asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>

            </form>



        </div>
    </div>

</div>