@model TodoList
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Delete Todo List</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="ListContent"></label>
                    <input asp-for="ListContent" disabled class="form-control" />
                    <span asp-validation-for="ListContent" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Time"></label>
                    <input asp-for="Time" disabled class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Priority"></label>
                    <select asp-for="Priority" disabled class="form-control">
                        <option>--Select Priority--</option>
                        <option>Critical/severe</option>
                        <option>Major/high</option>
                        <option>Medium</option>
                        <option>Minor/low</option>
                    </select>

                </div>

                <div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-controller="TodoList" asp-action="Index" class="btn btn-secondary">
                        Back to List
                    </a>
                </div>

            </form>
        </div>
    </div>

</div>